<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.secondclass.mapper.StudentMapper">

    <select id="selectById" resultType="com.secondclass.entity.Student">
        SELECT * FROM student WHERE student_id = #{studentId}
    </select>

    <update id="addHour">
        UPDATE student
        <set>
            <choose>
                <when test="hourType.contains('政治')"> politics_hour = politics_hour + #{hour}, </when>
                <when test="hourType.contains('人文')"> humanity_hour = humanity_hour + #{hour}, </when>
                <when test="hourType.contains('创新')"> innovation_hour = innovation_hour + #{hour}, </when>
                <when test="hourType.contains('社会')"> social_hour = social_hour + #{hour}, </when>
            </choose>
        </set>
        WHERE student_id = #{studentId}
    </update>
</mapper>